<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hajusrakendus</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>
<body>
    <nav>
        <h4><a href="/">My Distributed Application</a></h4>
    </nav>
    <div class="container mt-4">
        <div class="card" style="width: 18rem">
            <div class="card-header">Login Form</div>
            <div class="card-body">
                <form action="/auth/login" method="POST">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="name-log" name="name" placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password-log" name="password" placeholder="Password">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div>
                        <p>No account yet? <a href="/register">Sign up!</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>