<!DOCTYPE html>
<html lang="en">
<head>
    <title>Successful login - welcome</title>
</head>
<body>
<h1>Welcome, {{username}}!</h1>
<p>You successfully logged in.</p>
<a href="/logout">Logout</a>
</body>
</html>